img, video{
  width: auto;
  height: 360px;
  object-fit: contain;
}
.dropZone {
    width: 640px;
    height: 360px;
    position: absolute;
    object-fit: contain;
  }
  .droppedImageHolder{
    object-fit: contain;
    overflow: hidden;
    width: 640px;
    height: 360px;
  }

  .dropzoneImageGrandParent{
    overflow: hidden;
    width: 640px;
    height: 360px;
    object-fit: contain;
  }

  .dropzoneImageParent{
      overflow: hidden;
      width: 640px;
      height: 360px;
      
  }
  table{
    margin-left: 20px;
  }
  tr{
    line-height: 1.4em;
  }
  .tableLabel{
    font-weight: 800;
    color: red;
    
  }

